<!-- **************************************************************************
 File Name : cards.html.erb

 Project Name : Post Office

 Description of purpose of file: To search cards with their types (ordinary/speed post)
                                 and by status(Received/Inprogress/Delivered/Non-Delivered)
 
*******************************************************************************-->

<html>

  <div align = "center">

   <h1>Card Details</h1>

  <%= form_tag({:action => "search_result"})%>
       <input type = "radio" name= "search" value = "ordinary">Ordinary Post
       <input type = "radio" name= "search" value = "speed">Speed Post
      
       <p><label for="status">Status</label>
       <select title = "status" name = "status">
		<option name = "status" value = "all">All</option>   
		<optgroup label = "Status">
		   <option value = "Received">Received</option>   
		   <option value = "Inprogress">Inprogress</option>
		   <option value = "Delivered">Delivered</option>
		   <option value = "Non-Delivered">Non-Delivered</option>
		</optgroup>
       </select><br>

       <br><%= submit_tag "View"%>
       <%= link_to "Back" ,:controller => "admin" ,:action => "home" %><br/>  
  </form>   
  </div> 

  <% if @search.blank? %>
  <div align = "center"> 
      <%= flash[:notice] %>
   </div>
  <% end %> 
</html>
