<!-- **************************************************************************
 File Name : change_password.html.erb

 Project Name : Post Office

 Description of purpose of file: to get old and new password for password change

*******************************************************************************-->

<html>
 
  <div align = "center">
     <h1>Change Password</h1> 
      <%= flash[:notice] %>

  <form name = "input" action = "update_password">
  <table border = "0" bgcolor = "#FAF1D2">
  
      <tr><td><p><label for = "old_password">Old Password</label></td>
          <td><input type = "password" name = "old_password"></td></tr>

      <tr><td><p><label for = "password">New Password</label></td>
          <td><input type = "password" name = "password"></br></td></tr>

       <tr><td><p><label for = "password_confirmation">Confirm New Password</label></td>
         <td><input type = "password" name = "password_confirmation"></br></td></tr>
   </table>  

       <br><%= submit_tag "Update"%>
            <%= link_to "Back" ,:controller => "admin" ,:action => "home" %><br/> 
  </form>
 
 </div>   
</html>
