<!-- **************************************************************************
 File Name :edit_card.html.erb

 Project Name : Post Office

 Description of purpose of file:  To edit the received cards using card id
  
*******************************************************************************-->
<html>
  <div align = "center">
   <%= flash[:notice]%>
   <form name = "input" action = "edit_card_details">
      <table border = "0">

             <tr><td><label for = "card_id">Card Id</label></td>
	         <td><input type = "text" name = "card_id"></td></tr>
             
      </table>

       <br><%= submit_tag "Edit" %>
       <%= link_to "Back" ,:controller => "admin" ,:action => "home" %><br/> 

    </div>


</html>
