<!-- **************************************************************************
 File Name : forget_password.html.erb

 Project Name : Post Office

 Description of purpose of file: to provide password for admin login 

*******************************************************************************-->

<html>
  <div align = "center">
   <%= flash[:notice]%>
   <h1>Forget Password?</h1>
   <form name = "input" action = "password">
      <table border = "0">
       <col width = "300">
       <col width = "300">

             <tr><td><label for = "email">Email</label></td>
	         <td><input type = "password" name = "email"></td></tr>
             
             <tr><td><label for = "contact_no">Contact No</label></td>
	         <td><input type = "password" name = "contact_no"></td></tr>
      </table>

       <br><%= submit_tag "Submit" %>
       <%= link_to "Back" ,:controller => "sessions" ,:action => "new" %><br/> 

    </div>


</html>
