<!-- **************************************************************************
 File Name : updated_profile.html.erb

 Project Name : Post Office

 Description of purpose of file: To display error message while updating profile

*******************************************************************************-->

<html>

  <table>

   <td>
     <%= render :template => "admin/profile" %>
   </td>

   <td>
    <div align = "right">
     <%= form_for("admin#updated_profile") do |f| %>
       <% @user.errors.any? %>
         <div id = "error explanation" >
           <h2><%= pluralize(@user.errors.count,"error") %></h2>
           <ul>
              <% @user.errors.full_messages.each do |msg| %>
                 <li><%= msg%></li>
              <% end %>
           </ul>
         </div>
     <% end %>
    </div>
   </td>

  </table>

</html>
